<!-- NavBar -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!home">
        <img src="../assets/img/logo.jfif" alt="" style="width:60px;" class="rounded-pill"> 
        </a>
        <div class="collapse navbar-collapse text-dark" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link text-dark" href="#!home">Home</a>
            <a class="nav-link text-dark" href="#!aboutUs">About Us</a>
            <a class="nav-link text-dark" href="#!products">Products</a>
            <a class="nav-link text-dark" href="#!contact">Contact</a>
            </div>
        </div>
        <span class="navbar-text text-dark">Furevere Petshop</span>
    </div>
</nav>