.h3{
    color: aliceblue;
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: lighter;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}